<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses</title>
    <link rel="stylesheet" href="./css/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div>
        <div class="px-10 py-4 font-bold">
            <p><a href="/home" class="px-1 underline">HomePage</a>-><a href="/course/<%= course.id %>"
                    class="px-1 underline">
                    <%= course.courseName %>
                </a>
            </p>
        </div>
        <div class="py-5">
            <div class="flex flex-wrap justify-center gap-4">
                <div class="w-auto p-4 rounded-lg shadow-md">
                    <div class="flex items-center justify-center mb-4">
                        <h2 class="text-2xl font-bold mb-2">
                            <%= course.courseName %>
                        </h2>
                    </div>
                    <div class="space-y-2">
                        <div class="border text-xl text-gray-600 border-gray-500 p-2 rounded-md">
                            <p>
                                Description: <%= course.courseDescription %>
                            </p>
                            <p>Number of Chapters: <%= course.chapterCount %>
                            </p>
                        </div>
                        <% if((!courseEnrolled) && (!isEducator)) { %>
                            <div class="border text-xl text-gray-600 border-gray-500 p-2 rounded-md">
                                <p class="font-bold text-xl text-center text-gray-600 py-2">Chapters:</p>
                                <% for(var i=0; i<allChapters.length; i++) { %>
                                    <p class="py-1">
                                        <a
                                            class="text-white text-center bg-teal-600 hover:bg-teal-800 font-medium rounded mx-auto px-5 py-2 block">
                                            <%= allChapters[i].chapterName %>
                                        </a>
                                    </p>
                                    <% } %>
                            </div>
                            <% } %>

                                <% if(courseEnrolled) {%>
                                    <div class="border text-xl text-gray-600 border-gray-500 p-2 rounded-md">
                                        <p class="font-bold text-xl text-center text-gray-600 py-2">Chapters:</p>
                                        <% for(var i=0; i<allChapters.length; i++) { %>
                                            <p class="py-1">
                                                <a href="/chapter/<%= allChapters[i].id %>"
                                                    class="text-white text-center bg-teal-600 hover:bg-teal-800 font-medium rounded mx-auto px-5 py-2 block">
                                                    <%= allChapters[i].chapterName %>
                                                </a>
                                            </p>
                                            <% } %>
                                                <% if(isCourseCompleted) { %>
                                                    <p>
                                                        <a
                                                            class="text-white text-center bg-teal-600 hover:bg-teal-800 font-medium rounded mx-auto px-5 py-2 block">Completed</a>
                                                    </p>
                                                    <% } %>
                                    </div>
                                    <% } %>
                                        <% if(isEducator) {%>
                                            <div class="border text-xl text-gray-600 border-gray-500 p-2 rounded-md">
                                                <p class="font-bold text-xl text-center text-gray-600 py-2">Chapters:
                                                </p>
                                                <% for(var i=0; i<allChapters.length; i++) { %>
                                                    <p class="py-1">
                                                        <a href="/chapter/<%= allChapters[i].id %>"
                                                            class="text-white text-center bg-teal-600 hover:bg-teal-800 font-medium rounded mx-auto px-5 py-2 block">
                                                            <%= allChapters[i].chapterName %>
                                                        </a>
                                                    </p>
                                                    <% } %>
                                            </div>
                                            <div class="py-2">
                                                <div class="py-2">
                                                    <p
                                                        class="flex justify-center text-white bg-blue-600 hover:bg-blue-800 font-medium rounded px-5 py-2 mx-auto block text-center">
                                                        <a href="/updateCourse/<%= course.id %>/edit">Edit
                                                            Course</a>
                                                    </p>
                                                </div>
                                                <div>
                                                    <form action="/course/<%= course.id %>/delete" method="POST">
                                                        <button type="submit"
                                                            class="text-white bg-red-600 hover:bg-red-800 font-medium rounded px-5 py-2 mx-auto block">
                                                            Delete Course
                                                        </button>
                                                    </form>

                                                </div>
                                            </div>
                                            <% } %>
                                                <% if((!courseEnrolled) && (!isEducator)) { %>
                                                    <div class="py-2">
                                                        <form action="/enroll/<%= course.id %>">
                                                            <button type="submit"
                                                                class="text-white bg-blue-600 hover:bg-blue-800 font-medium rounded px-5 py-2 mx-auto block">Enroll
                                                                to view Content</button>
                                                        </form>
                                                    </div>
                                                    <% } %>
                    </div>
                </div>

            </div>
        </div>
        <% if(isEducator) { %>
            <div class="flex justify-center">
                <a href="/chapter/<%= course.id %>/newChapter"
                    class="text-white bg-green-600 hover:bg-green-800 font-medium rounded mx-auto px-5 py-2 block">Create
                    a
                    new
                    Chapter</a>
            </div>
            <% } %>
    </div>
</body>

</html>